<h1 class="titulo">Seja bem-vindo ao Projeto Ucrânia!</h1>
<br><br><br>
<div id="container">
  <div id="block"></div>
  <div id="text">
      <div>
        <article>
          Temos o objetivo de informar aos ucranianos os locais em que podem se refugiar durante seus problemas democráticos.
          <br>Todos aqueles que podem acolhê-los (na Europa e Ásia), faça sua conta com as informações necessárias, sendo elas:
          <li>Nome</li>
          <li>Fone</li>
          <li>E-mail</li>
          <li>Pessoas (que podem ser alocadas na residência)</li>
          <li>País da residência</li>
          <li>Autorização para trazer animais</li>
          <li>Idioma primário de comunicação</li>
        </article>
      </div>
      <hr class="linha" style="width: 800px; margin-left: 20px; border-top: 2px solid; ">
      <div>
        <article>
          Our objective is to move people out of Ukraine's territory and find them a temporary home, either in Europe or in Asia.
          <br>See all of the possibilities of refugee residences on the tab <strong>'Acolhedores'</strong> (only in Portuguese, for now).
        </article>
      </div>
  </div>
</div>

<!-- <img src="https://cdn.folhape.com.br/img/pc/1100/1/dn_arquivo/2022/06/000-32ca6gr.jpg" alt="W3Schools.com" > -->



