.submit-form {
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  letter-spacing: 2px;
}
select.form-control, textarea{
  background-color: #9B97AD;
}
input.form-control, textarea{
  background-color: #9B97AD;
}
